/**
 * Stylesheet for Hotsauce Profile
 */

#panopoly-theme-selection-form .form-item-theme {
  clear: both;
  margin-top: .5em;
  margin-bottom: .5em;
}

#panopoly-theme-selection-form .form-item-theme label img {
  float: left;
  width: 100px;
  margin-right: 1em;
}

#panopoly-apps-check #edit-pantheon img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

body.maintenance-page #logo {
  background:transparent url(hotsauce.png) no-repeat top left;
  height:0;
  overflow:hidden;
  padding-top: 220px; /* height of logo  */
  width: 180px; /* width of logo  */
}

body.in-maintenance #page {
  width: 970px !important; 
}

body.in-maintenance #content { 
  width: 700px !important; 
}

body.in-maintenance #content #kalapreview-image-load-image img { 
  width:85%; 
}
